<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90763646120-ri865hmie9s8c1pm6af7bds3ftb58hkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90763646120-ri865hmie9s8c1pm6af7bds3ftb58hkp</string>
	<key>API_KEY</key>
	<string>AIzaSyCF8tGALS2Lx43BzFzAfWmYxV5-wI7rrw8</string>
	<key>GCM_SENDER_ID</key>
	<string>90763646120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akshay.chatroom</string>
	<key>PROJECT_ID</key>
	<string>adypu-a1b25</string>
	<key>STORAGE_BUCKET</key>
	<string>adypu-a1b25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90763646120:ios:581c4dfea2e0950efade9d</string>
</dict>
</plist>